<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moto EV | Platform for EVs</title>
</head>
<body>
    <div class="nav">
        <img src="" alt="">
        <h1>Moto EV</h1>
        <div class="options">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="left">
            
        </div>
        <div class="right">
            <img src="" alt="">
        </div>
    </div>

    
</body>
    
    
</html>