<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/white_logo.png" >
    <title>Moto EV | Platform for EVs</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <img src="/src/background.jpg" alt="" id="background">
    <div class="nav">
        <div class="left">
            <img src="/src/Symbol_only.png" id="logo" alt="">
            <img src="/src/Name_only.png" id="name" alt="">
        </div>

        <div class="options">
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/signup">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>            
        </div>
        
        <div class="image-container">
            <img src="/src/hamburger.png" alt="Sample Image" id="image">
            <div class="dropdown-menu" id="dropdown-menu">
              <a href="#">Home</a>
              <a href="/signup">Register</a>
              <a href="/login">Login</a>
              <a href="#">Contact Us</a>
            </div>
        </div>
          

    </div>

    <div class="container">

        <div class="container-left">
            <h1>Platform for your Electronic Vehicle</h1>
            <p>Get efficiency charging slots for your vehicle!</p>
            
            <form class="btn" action="/signup">
                <button id="start">Get Started!</button>
            </form>
        </div>
        <div class="right">
            <img src="/src/car1.png" alt="">
            <!-- <video src="/src/car_video.mp4" autoplay></video> -->
        </div>
    </div>

    <script src="/js/index.js"></script>
</body>
    
    
</html>