<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/white_logo.png" >
    <title>MotoEV</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <div class="main">
        <div class="left">
            <div class="card">
                <h1>Log In</h1>
                <% if(error.length > 0 ){ %>
                    <p class="error"><%= error %></p>
                <% } %>
                <form action="/login" method="post">
                    <p>Username </p>
                    <input type="text" placeholder="Username" name="username"> 
                    <p>Password</p>
                    <input type="Password" placeholder="Password" name="password">
                    <button>Login</button>
                </form>
                <div class="shortcut">
                    <i class='bx bxl-google' style='color:black'  ></i>
                    <i class='bx bxl-facebook-circle' style='color:black' ></i>
                    <i class='bx bxl-instagram-alt' style='color:black' ></i>
                </div>
                <p>Don't have a account yet ? <a style="text-decoration: none;" href="/signup">Sign Up</a></p>
            </div>
        </div>
        <div class="right">
            <img src="/src/Electric car-amico.png" alt=""> 
        </div>
    </div>
</body>
</html>