<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../src/white_logo.png" >
    <title>MotoEV - Profile</title>
    <link rel="stylesheet" href="/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <div class="sidenav">
            <i class='bx bx-compass'> Map Overview</i>
            <i class='bx bx-border-all'> Assets</i>
            <i class='bx bxs-time' >Time Managment</i>
            <i class='bx bxs-book'> Log Book</i>
            <i class='bx bxs-report'> Reports</i>
        </div>
        <div class="upnav">
            <p>Monitoring / All Routes / Car Profile</p>
            <div class="li">
                <a href="/"><i class='bx bxs-home' ></i></a>
                <i class='bx bxs-bell'></i>
                <a href="/user"><i class='bx bxs-user-circle'></i></i></a>
            </div>
        </div>
    </div>
    <div class="car-card">
        <div class="car">
            <img src="/src/2d-white-car-left-side-view_998359-103-removebg-preview.png" alt="">
        </div>
        <div class="progress">
            
            <img src="/src/progresscircle-2-ss-removebg-preview.png" alt="">
           
            <img src="/src/progresscircle-2-ss-removebg-preview.png" alt="">
            
            <img src="/src/progresscircle-2-ss-removebg-preview.png" alt="">
        </div>

    </div>
    <div class="profile-card">
        <div class="user">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6mTMx8AB1-L0wAAhgsJj_zpHLvjMA3Y3bHQ" alt="">
            <p><%= user1.fullname %></p>
        </div>
        <hr>
        <div class="info">
            <p>Phone: <%= user1.phone %></p>
            <p>Model: <%= user1.carmodel %></p>
            <p>DL no: 77778885555</p>
        </div>
    </div>
    <div class="slot">
        <h1>Your Slot</h1>
        <div class="sl">
            <% if (user1.slot === '1') { %>
                <h3>12:00 AM - 6:00 AM</h3>
                <h3>12:00 PM - 6:00 PM</h3>
            <% } else if (user1.slot === '2') { %>
                <h3>6:00 AM - 12:00 PM</h3>
                <h3>6:00 PM - 12:00 AM</h3>
            <% } else if (user1.slot === '3') { %>
                <h3>12:00 PM - 6:00 PM</h3>
                <h3>12:00 AM - 6:00 AM</h3>
            <% } else if (user1.slot === '4') { %>
                <h3>6:00 PM - 12:00 AM</h3>
                <h3>6:00 AM - 12:00 PM</h3>
            <% } %>
        </div>
        <!-- <div class="battery">
            <img src="/src/icons8-charging-battery.gif" autoplay loop muted></img>
        </div> -->
        <form action="/change">
            <button class="btn">Manage Time Slots</button>
        </form>
        
    </div>
</body>
</html>



    
