<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoEV - Profile</title>
    <link rel="stylesheet" href="/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="main">
        <div class="sidenav">
            <i class='bx bx-compass'>Map Overview</i>
            <i class='bx bx-border-all'>Assets</i>
            <i class='bx bxs-time' >Time Managment</i>
            <i class='bx bxs-book'>Log Book</i>
            <i class='bx bxs-report'>Reports</i>
        </div>
        <div class="upnav">
            <p>Monitoring / All Routes / Car Profile</p>
            <div class="li">
                <i class='bx bxs-bell'></i>
                <a href="/"><i class='bx bxs-home' ></i></a>
            </div>
        </div>
    </div>
    <div class="car-card">
        <div class="car">
            <img src="/src/2d-white-car-left-side-view_998359-103-removebg-preview.png" alt="">
        </div>
        <div class="progress">
            
            <img src="/src/progresscircle-2-ss-removebg-preview.png" alt="">
           
            <img src="/src/progresscircle-2-ss-removebg-preview.png" alt="">
            
            <img src="/src/progresscircle-2-ss-removebg-preview.png" alt="">
        </div>

    </div>
    <div class="profile-card">
        <div class="user">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6mTMx8AB1-L0wAAhgsJj_zpHLvjMA3Y3bHQ" alt="">
            <p><%= user1.fullname %></p>
        </div>
        <hr>
        <div class="info">
            <p>Phone: <%= user1.phone %></p>
            <p>Model: <%= user1.carmodel %></p>
            <p>DL no: 77778885555</p>
        </div>
    </div>
</body>
</html>