<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoEV</title>
    <link rel="stylesheet" href="/signup.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-- <img src="/src/background.jpg" alt="" id="background"> -->
    <div class="main">
        <div class="left">
            <div class="card">
                <h1>Sign Up</h1>
                <form action="/signup" id="user_data" method="post">
                    <div class="info">
                        <div class="name">
                            <p>Fullname </p>
                            <input type="text" placeholder="Fullname" name="fullname">
                        </div>
                        <div class="username">
                            <p>Username </p>
                            <input type="text" placeholder="Username" name="username"> 
                        </div>
                    </div>
                    <div class="info">
                        <div class="email">
                            <p>Email </p>
                            <input type="email" placeholder="Email" name="email">
                        </div>
                        <div class="password">
                            <p>Password</p>
                            <input type="Password" placeholder="Password" name="password"> 
                        </div>
                    </div>
                    <div class="info">
                        <div class="carmodel">
                            <p>Car Model</p>
                            <input type="text" placeholder="Car Model" name="carmodel">
                        </div>
                        <div class="phone">
                            <p>Phone</p>
                            <input type="tel" placeholder="Phone No" name="phone">
                        </div>
                    </div>
                    <button type="submit" id="submit">Sign Up →</button>
                </form>
                <div class="shortcut">
                    <i class='bx bxl-google' style='color:black'  ></i>
                    <i class='bx bxl-facebook-circle' style='color:black' ></i>
                    <i class='bx bxl-instagram-alt' style='color:black' ></i>
                </div>
                <p>Already have an accoutn ? <a href="/login">Log In</a></p>
            </div>
        </div>
        <div class="right">
            <img src="/src/Electric car-amico.png" alt=""> 
        </div>
    </div>
</body>
</html>